@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Virtual Pet Adoption</h1>
    <p>Find your perfect virtual pet companion based on your personality!</p>
    
    <div class="mt-4">
        <a asp-page="./Quiz" class="btn btn-primary btn-lg">Take the Matching Quiz</a>
    </div>
</div>
